
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  font-family: 'Mulish', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p{
  @apply text-grayColor
}
h1,h2,h3,h4,h5,h6{
  @apply text-title;
}



/* tailwind components */

@layer components{
  /* Wrapper container */
 .container{
  @apply !max-w-screen-2xl mx-auto px-5
 }
 /* Button */
.btn-white{
  @apply bg-white text-title font-bold px-7 py-3 block w-fit rounded hover:shadow-lg transition-all duration-500
}

}
























