
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  font-family: 'Mulish', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p{
  @apply text-grayColor
}
h1,h2,h3,h4,h5,h6{
  @apply text-title;
}



/* tailwind components */

@layer components{
  /* Wrapper container */
 .container{
  @apply !max-w-[1200px] mx-auto px-5
 }
 /* Button */
.btn-white{
  @apply bg-white text-title font-bold px-7 py-3 block w-fit rounded hover:shadow-lg transition-all duration-500
}
/* card-shadow */
.card-shadow{
  box-shadow:0 30px 40px 0 rgb(131 132 135 /15%);
  -webkit-box-shadow:0 30px 40px 0 rgb(131 132 135 /15%);
}

/* Hide scrollbar */
/* Chrome Safari and Opera */
.no-scrollbar::-webkit-scrollbar{
 display: none;
}

.no-scrollbar{
 -ms-overflow-style: none;/*Internet Explorer and Edge*/
 scrollbar-width:none;/*Firefox*/
}

/* products */
/* products card */
.product-card{
 @apply !max-w-[275px] flex flex-col items-start cursor-pointer p-5 rounded-md hover:card-shadow transition-all duration-500 relative border border-gray-100 hover:border-gray-200
}
}

/* Mantine */
.mantine-Tabs-tab{
 padding:15px;
}

@media(max-width:768px){
  .table_row{
    display: none
  }
}
















